<!-- Post, Page Content
================================================== -->
<style>
div.articlefirstParagh::first-letter {
clear:left;
line-height: 0.8;
font-size:60px;
float: left;
margin-right: 2px;
position: relative;
display: block;
font-family: Georgia;
}
div.articlefirstParagh p{

line-height: 1;
font-size:20px;
line-height: 25px;
font-family: Georgia;
}
</style>

<div class="article-post" style="margin:0 auto; padding:10px;">
    <!-- Toc if any -->
    {% if page.toc %}
    {% if page.beforetoc %}
        <p><em>{{page.beforetoc}}</em></p>
    {% endif %}
    <div class="toc mt-4 mb-4 lead">
        <h3 class="font-weight-bold">Summary</h3>
        {% include toc.html html=content %}
    </div>
    {% endif %}
    <!-- End Toc -->
    <div class="articlefirstParagh" style="text-align: justify; color:#000;">{{content}}</div>
   
</div>