---
title: "Categories"
layout: default
permalink: "/categories.html"
---

<div class="readingdiv">
        <span class="readinglabel" >📖 Reading mode?</span>
        <label class="switch">
          <input id="readingmodecheck" type="checkbox" onclick="readingmode()">
          <span class="slider round"></span>
        </label>

    </div>
{% for category in site.categories %}
<h4 class="mt-5 mb-neg-30" id="{{ category[0] | replace: " ","-" }}"><span class="text-capitalize badge badge-primary text-small">{{ category[0] }}</span></h4>
<div class="blog-grid-container">
{% assign pages_list = category[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
</div>
{% endfor %}
<script>
         if(localStorage.length > 0){
            var readingmodechecked = JSON.parse(localStorage.getItem("readingmode"));
            document.getElementById("readingmodecheck").checked = readingmodechecked;  
            readingmode();
            } 
        </script>
